# Project place file
/sonner-roblox.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rojo genered sourcemap
# Update  the sourcemap with rojo sourcemap > sourcemap.json
sourcemap.json

# Wally packages
/ServerPackages
/Packages